/**
* demo V1.0.0
* By 小珍
* http://www.baidu.com/
 */
@charset "utf-8";

/* ***reset*** */
a,
body {
    color: #000;
}
body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
    padding: 0;
    margin: 0;
}
form {
    display: inline;
}
img {
    border: 0;
}
td {
    word-break: break-all;
}
dd,
dl,
dt,
li,
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* a:hover {
    color:black;
} */
body {
    font-family: "微软雅黑", sans-serif, Verdana, Arial;

    background: #fff;
}
.f-fr {
    float: right;
}
.f-fl {
    float: left;
}
.f-cb:after {
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    clear: both;

    content: ".";
}
.f-cb {
    zoom: 1;
}
.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    border: 0;
}

/* 各属性的混入 */

/* 动画帧的usage    #test>.keyframes(test)*/
.img-respon {
    display: block;
    width: 100%;
    height: auto;
}

/* .block-element-h-center */

/* .block-text-h-center */

/* .block-element-v-center */

/* .block-element-v-center */

/* .line-element-v-center */

/* 定位居中 */

/* .location-center */

/* .location-h-center */

/* .location-v-center */

/*header*/
.wrapper {
    position: relative;

    width: 15.99829352rem;
    padding-top: 2.11rem;
    /* padding-top: 2.09044369rem; */
    padding-bottom: 2.34641638rem;
    margin: 0 auto;
}
.g-container {
    width: 15.99829352rem;
    margin: 0 auto;
}

/*顶部电话框占高度40px*/
body {
    padding-top: 40px;
}
#header {
    /*position: absolute;
      top:0;
      left: 0;*/
    position: fixed;
    top: 0rem;
    right: 0;
    left: 0;
    z-index: 9999;

    margin: 0 auto;
    overflow: hidden;

    background: rgba(92, 55, 58, .9);
}
#header .heading {
    position: relative;

    height: 2.19044369rem;

    background-color: #5c373a;
}
#header .heading .btn {
    position: absolute;
    top: 0;
    left: .42662116rem;

    width: 1.02389078rem;
    height: 2.09044369rem;

    background: url("../images/icon_menu.png") center center no-repeat;
    background-size: .85324232rem .85324232rem;
}
#header .heading .btn:hover {
    cursor: pointer;
}
#header .heading .logo {
    width: 4.47952218rem;
    height: 1.36518771rem;
    padding-top: .34129693rem;
    margin: 0 auto;
}
#header .heading .logo img {
    display: block;
    width: 4.47952218rem;
    height: 1.36518771rem;
}
#header .menu {
    display: none;
}
#header .menu ul {
    /*margin-top: 80rem/@fb;*/
}
#header .menu ul li {
    height: 2.55972696rem;

    font-size: .85324232rem;

    text-align: center;

    color: #fff;
}
#header .menu ul li a {
    display: block;

    color: #fff;
}
#header.open {
    /*position: fixed;
      left: 0;
      right: 0;
      margin:0 auto;*/
    height: 100%;
}
#header.open .heading .btn {
    background: url("../images/icon_close.png") center center no-repeat;
    background-size: .85324232rem .85324232rem;
}
#header.open .menu {
    position: absolute;
    top: 0;
    bottom: 0;

    display: block;
    width: 15.99829352rem;
    height: 10.23890785rem;
    margin: auto;
}
.top-banner {
    position: relative;

    width: 100%;
    height: 21.75767918rem;
}
.top-banner .slider-wraper {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 21.75767918rem;
    overflow: hidden;
}
.top-banner .slider-container {
    width: 163.8225256rem;
}
.top-banner .slider-container li {
    float: left;
    width: 15.99829352rem;
    height: 21.75767918rem;
}
.top-banner .slider-container li img {
    display: block;
    width: 100%;
    height: 100%;
}
.top-banner .slider-item {
    position: relative;
}
.top-banner .slider-indicator {
    position: absolute;
    right: 0;
    bottom: 1.49317406rem;
    left: 0;
    z-index: 2;

    width: 10.66552901rem;
    padding: 0;
    margin: 0 auto;

    font-size: 0;
    line-height: .12em;

    text-align: center;
}
.top-banner .slider-indicator li {
    display: inline-block;
    width: .2559727rem;
    height: .2559727rem;
    margin: 0 .38395904rem;

    border-radius: 100%;
    background: #fff;
}
.top-banner .slider-indicator li.active,
.top-banner .slider-indicator li:hover {
    cursor: pointer;

    background: #9855ae;
}
.chain-info {
    height: 4.90614334rem;

    background: url("../images/bg_chain.jpg") center center no-repeat;
    background-size: cover;
}
.chain-info h2 {
    /*width:300rem/@fb;*/

    /*height: 150rem/@fb;*/

    /*background: url('@{imgp}bgt_chain.png') center center no-repeat;*/
}
.chain-info a {
    display: block;
    width: 6.39931741rem;
    padding-top: .85324232rem;
    margin: 0 auto;
}
.chain-info img {
    width: 6.39931741rem;
    height: 3.1996587rem;
}
.copyright-info {
    padding-top: .38395904rem;
    padding-bottom: .38395904rem;
    /*height: 1.36518771rem;*/

    background: #5c373a;
}
.copyright-info p {
    height: .51194539rem;

    font-size: .34129693rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .51194539rem;

    text-align: center;
    letter-spacing: .01706485rem;

    color: #fff;
}
#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;

    width: 15.99829352rem;
    height: 2.34641638rem;
    margin: auto;

    background: #fff;
}
#footer .grids-item {
    float: left;
    width: 20%;
    height: 100%;
}
#footer .grids-item .grids-icon {
    width: 1.02389078rem;
    height: 1.02389078rem;
    margin: .31996587rem auto 0;
}
#footer .grids-item .grids-icon i {
    display: block;
    width: 1.02389078rem;
    height: 1.02389078rem;
}
#footer .grids-item .grids-icon .icon-home {
    background: url("../images/icon_home.png") center center no-repeat;
    background-size: 1.02389078rem 1.02389078rem;
}
#footer .grids-item .grids-icon .icon-brand {
    background: url("../images/icon_brand.png") center center no-repeat;
    background-size: 1.02389078rem 1.02389078rem;
}
#footer .grids-item .grids-icon .icon-project {
    background: url("../images/icon_project.png") center center no-repeat;
    background-size: 1.02389078rem 1.02389078rem;
}
#footer .grids-item .grids-icon .icon-hj {
    background: url("../images/icon_envrioment.png") center center no-repeat;
    background-size: 1.02389078rem 1.02389078rem;
}
#footer .grids-item .grids-icon .icon-consult {
    background: url("../images/icon_cunsoult.png") center center no-repeat;
    background-size: 1.02389078rem 1.02389078rem;
}
#footer .grids-item.active .grids-icon .icon-home {
    background: url("../images/icon_home2.png") center center no-repeat;
    background-size: 1.02389078rem 1.02389078rem;
}
#footer .grids-item.active .grids-icon .icon-brand {
    background: url("../images/icon_brand2.png") center center no-repeat;
    background-size: 1.02389078rem 1.02389078rem;
}
#footer .grids-item.active .grids-icon .icon-project {
    background: url("../images/icon_project2.png") center center no-repeat;
    background-size: 1.02389078rem 1.02389078rem;
}
#footer .grids-item.active .grids-icon .icon-hj {
    background: url("../images/icon_envrioment2.png") center center no-repeat;
    background-size: 1.02389078rem 1.02389078rem;
}
#footer .grids-item.active .grids-icon .icon-consult {
    background: url("../images/icon_cunsoult2.png") center center no-repeat;
    background-size: 1.02389078rem 1.02389078rem;
}
#footer .grids-item .grids-txt {
    padding-top: .2559727rem;

    font-size: .46928328rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .17064846rem;

    text-align: center;
    letter-spacing: 1.1px;

    color: #898989;
}
/* 重写顶部拨打电话样式 */
/* lxb  reset*/
body #LXB_CONTAINER,
body #LXB_CONTAINER_SHOW,
body #LXB_CONTAINER_SHOW ins,
body #LXB_CONTAINER ins,
body #LXB_CONTAINER em,
body #LXB_CONTAINER a,
body #LXB_CONTAINER input {
    position: static;
    top: auto;
    left: auto;

    display: block;
    visibility: visible;
    float: none;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clear: none;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;

    font-family: Tahoma, "宋体", Helvetica, sans-serif;
    font-size: .6rem;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    font-size-adjust: none;
    font-stretch: normal;
    line-height: normal;
    list-style: none;

    -webkit-user-select: text;
       -moz-user-select: text;
            user-select: text;
    text-align: left;
    vertical-align: baseline;
    white-space: normal;
    text-decoration: none;
    text-indent: 0;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;

    color: #000;
    border: none;
    outline: invert none medium;
    background-color: transparent;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto;

    direction: ltr;
}
body #LXB_CONTAINER,
body #LXB_CONTAINER ins {
    display: block;
    visibility: visible !important;

    text-decoration: none;
}
body #LXB_CONTAINER ins {
    background-color: transparent;
}
body #LXB_CONTAINER.lxb-container {
    position: fixed;
    z-index: 2147483647;

    font-size: .6rem;
}
.lxb-mobile-pos-left {
    left: 0;
}
.lxb-mobile-pos-right {
    right: 0;
}
.lxb-mobile-pos-top {
    top: 0 !important;
}
.lxb-mobile-pos-middle {
    top: 35%;
}
.lxb-mobile-pos-bottom {
    bottom: 0;
}
body #LXB_CONTAINER input.lxb-cb-input {
    position: absolute;

    font-size: .6rem;

    border: 0;
    outline: none;
}
body #LXB_CONTAINER .lxb-cb-input-clear,
body #LXB_CONTAINER .lxb-cb-latest-call,
body #LXB_CONTAINER .lxb-cb-input-feedback {
    position: absolute;

    overflow: hidden;

    cursor: pointer;
}

body #LXB_CONTAINER .lxb-cb-input-clear {
    width: 1.1rem;
    height: 1.1rem;

    background: url(https://img.hzshuangmei.com/m/lxb/icon.png) 0 0 no-repeat;
    background-size: 5rem 4rem;
}

body #LXB_CONTAINER .lxb-cb-input-btn,
body #LXB_CONTAINER .lxb-container-btn-hide {
    position: absolute;

    overflow: hidden;

    cursor: pointer;
}
body #LXB_CONTAINER .lxb-cb-input-tip,
body #LXB_CONTAINER .lxb-cb-input-feedback {
    position: absolute;

    font-size: .6rem;
    line-height: .7rem;
}
body #LXB_CONTAINER .lxb-cb-input-tip b {
    font-size: .6rem;
}
body #LXB_CONTAINER .lxb-cb-input-tip-content,
body #LXB_CONTAINER .lxb-cb-input-feedback-txt {
    margin: 2% 4%;
}
body #LXB_CONTAINER_SHOW.lxb-container-btn-show {
    position: fixed;
    z-index: 2147483647;

    width: 10%;
    padding: .25rem 0;
    overflow: hidden;

    font-size: .6rem;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 5px;
    background-color: #b7dde8;
}
body #LXB_CONTAINER_SHOW.lxb-container-btn-show-bdbox {
    bottom: 0;
    left: 0;

    width: 6rem;
    height: 1.8rem;
    padding: 0;

    line-height: 1.8rem;

    border-radius: 0 5px 5px 0;
    background-color: #00aef1;
}
body #LXB_CONTAINER_SHOW.lxb-container-btn-show-bdbox input {
    visibility: hidden;
}
body #LXB_CONTAINER_SHOW .lxb-btn-show-bd-inner {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    margin: 0 auto;

    line-height: normal;

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
}
body #LXB_CONTAINER_SHOW .lxb-btn-show-bd-img {
    position: relative;
    top: -.05rem;

    display: inline-block;
    width: .9rem;
    height: 1rem;

    vertical-align: middle;

    background: url(https://img.hzshuangmei.com/m/lxb/bdbox-img.png) 0 0 no-repeat;
    background-size: 100%;
}
body #LXB_CONTAINER_SHOW .lxb-btn-show-bd-txt {
    display: inline;
    margin-left: .45rem;
    overflow: hidden;

    font-family: "PingFang SC", "HanHei SC", "PingHei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: .75rem;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;
}
body #LXB_CONTAINER .lxb-container-btn-hide {
    top: -.75rem;
    right: -.75rem;

    width: 1.5rem;
    height: 1.5rem;

    background: url(https://img.hzshuangmei.com/m/lxb/icon.png) -2rem 0;
}
body #LXB_CONTAINER.lxb-container-mobile-5 {
    left: 0;

    width: 100%;
    height: 2.05rem;

    background: #47afff!important;
}
body #LXB_CONTAINER.lxb-container-mobile-3,
body #LXB_CONTAINER.lxb-container-mobile-4 {
    top: 35%;
    left: 7%;

    width: 85%;
    height: 6.4rem;

    border: 2px solid  #0b7bd2;
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: .15rem 0 .4rem  #ccc;
       -moz-box-shadow: .15rem 0 .4rem  #ccc;
            box-shadow: .15rem 0 .4rem  #ccc;
}
body #LXB_CONTAINER.lxb-container-mobile-5 .lxb-cb-input {
    top: .25rem;
    left: 2%;
    z-index: 2;

    width: 70%;
    height: 1.55rem;
    padding: 0 .25rem;

    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #fff;
}
body #LXB_CONTAINER.lxb-container-mobile-5 .lxb-cb-input-btn {
    top: .3rem;
    right: 3%;
    left: 78%;

    height: 1.45rem;

    font-size: .6rem;
    line-height: 1.45rem;

    text-align: center;
    vertical-align: middle;

    color: #fff;
    border-radius: 5px;
    background: #2590e2;
}
body #LXB_CONTAINER.lxb-container-mobile-5 .lxb-cb-input-tip-content {
    font-size: .6rem;
    line-height: .7rem;
}
body #LXB_CONTAINER.lxb-container-mobile-5 .lxb-cb-input-clear {
    top: 50%;
    right: 27.5%;
    z-index: 3;

    margin-top: -.55rem;
}
body #LXB_CONTAINER.lxb-container-mobile-5 .lxb-cb-latest-call {
    left: 2%;
    z-index: 1;

    width: 70%;
    padding: .25rem .25rem;

    font-size: .6rem;

    color: #666;
    border: 1px solid #ccc;
    background: #fff !important;
}
body #LXB_CONTAINER.lxb-mobile-pos-bottom .lxb-cb-input-tip,
body #LXB_CONTAINER.lxb-mobile-pos-bottom .lxb-cb-input-feedback {
    bottom: 2.05rem;
    left: 0;

    width: 100%;

    background: #b7dde8 !important;
}
body #LXB_CONTAINER.lxb-mobile-pos-top .lxb-cb-input-tip,
body #LXB_CONTAINER.lxb-mobile-pos-top .lxb-cb-input-feedback {
    top: 2.05rem;
    left: 0;

    width: 100%;

    background: #b7dde8 !important;
}
body #LXB_CONTAINER.lxb-mobile-pos-bottom .lxb-cb-latest-call {
    bottom: 1.8rem;
}
body #LXB_CONTAINER.lxb-mobile-pos-top .lxb-cb-latest-call {
    top: 1.8rem;
}
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-input,
body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-input {
    top: .95rem;
    left: 2%;
    z-index: 2;

    width: 69%;
    height: 1.25rem;
    padding: 0 .25rem;

    border: 1px solid #ccc !important;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #fff;
}
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-input-btn,
body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-input-btn {
    top: 1.05rem;
    right: 4%;
    left: 77%;

    height: 1.2rem;

    font-size: .6rem;
    font-weight: 700;
    line-height: 1.2rem;

    text-align: center;

    color: #fff;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #2590e2 !important;
}
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-input-clear,
body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-input-clear {
    top: 1.1rem;
    left: 66%;
    z-index: 3;
}
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-latest-call,
body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-latest-call {
    top: 2.15rem;
    left: 2%;
    z-index: 1;

    width: 69%;
    padding: .4rem .25rem;

    font-size: .6rem;

    color: #444;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff !important;
}
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-input-tip,
body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-input-tip {
    top: 2.5rem;
    left: 2%;

    display: block;
    width: 96%;
}
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-input-tip-content,
body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-input-tip-content {
    font-size: .6rem;
    line-height: .7rem;

    color: #2d85d5;
}
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-input-feedback,
body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-input-feedback {
    top: 2.5rem;
    left: 2%;

    display: block;
    width: 96%;
}
/* 快商通样式重写 */
/*#_ks_ol_inviteWin {*/
/*margin-top: -5.781rem!important;*/
/*margin-left: -6.4rem!important;*/
/*}*/
/*#divbg {*/
/*width: 12.8rem!important;*/
/*height: 11.562rem!important;*/

/*background-repeat: no-repeat;*/
/*background-size: 100% 100%;*/
/*}*/
/*#div2 {*/
/*top: .1rem!important;*/
/*left: 11.6rem!important;*/

/*width: 1rem!important;*/
/*height: 1rem!important;*/
/*}*/
/*#div7 {*/
/*top: 9.6rem!important;*/
/*left: 1rem!important;*/

/*width: 4.5rem!important;*/
/*height: 1.5rem!important;*/
/*}*/
/*#div1 {*/
/*position: absolute!important;*/
/*top: 9.6rem!important;*/
/*left: 1.3rem!important;*/

/*width: 4.5rem!important;*/
/*height: 1.5rem!important;*/

/*line-height: 0!important;*/

/*cursor: pointer!important;*/
/*}*/
/*#div6 {*/
/*top: 1.6rem!important;*/
/*left: 0!important;*/

/*width: 100%!important;*/
/*height: 7rem!important;*/
/*}*/
/* 快商通侧边栏 */
#ks_ol_floatWin_img {
    width: 1.26rem!important;
    height: 4.12rem!important;
}
/* #_ks_ol_inviteWin {
    display: none!important;
}
 */
#_ks_ol_inviteWin {
    margin-top: -5.781333rem!important;
    margin-left: -6.4rem!important;
}
#_ks_ol_inviteWin_fl {
    width: 12.8rem;
    height: 11.562667rem;
}
#divbg {
    background-size: 100%;
    width: 12.8rem!important;
    height: 11.562667rem!important;
}
#div3 {
    top: .3rem!important;
    left: 13.5rem!important;

    width: 1rem!important;
    height: 1rem!important;

    border: 1px solid red;
}
#div1 {
    top: 11.2rem!important;
    left: 1.5rem!important;

    width: 4.7rem!important;
    /* border: 1px solid red; */
    height: 1.7rem!important;
}
#div2 {
    top: 11.2rem!important;
    left: 8.5rem!important;

    width: 5.7rem!important;
    height: 1.7rem!important;
}
.zx {
    width: 40%!important;

    background: #9e746d;
}
#footer .grids-item.zx .grids-txt {
    color: #fff;
}
#footer .m-grids-5 {
    height: 100%;
    overflow: hidden;
}
#footer .m-grids-5 .zx .icon-consult {
    -webkit-animation: scaleAC 1.5s ease .3s infinite;
       -moz-animation: scaleAC 1.5s ease .3s infinite;
        -ms-animation: scaleAC 1.5s ease .3s infinite;
         -o-animation: scaleAC 1.5s ease .3s infinite;
            animation: scaleAC 1.5s ease .3s infinite;
}
@-webkit-keyframes scaleAC {
    0%,
    100% {
        transform: scale(1.5);

        opacity: 1;
    }
    50% {
        transform: scale(1);

        opacity: 1;
    }
}
@-moz-keyframes scaleAC {
    0%,
    100% {
        transform: scale(1.5);

        opacity: 1;
    }
    50% {
        transform: scale(1);

        opacity: 1;
    }
}
@-o-keyframes scaleAC {
    0%,
    100% {
        transform: scale(1.5);

        opacity: 1;
    }
    50% {
        transform: scale(1);

        opacity: 1;
    }
}
@keyframes scaleAC {
    0%,
    100% {
        transform: scale(1.5);

        opacity: 1;
    }
    50% {
        transform: scale(1);

        opacity: 1;
    }
}
.copyright-info p a {
    color: #fff;
}
