a {
    display: block;
}
/*banner开始*/
.banner {
    width: 100%;
    padding-top: 1.7rem;
}
.banner img {
    width: 100%;
}
/*banner结束*/

/*part1开始*/
.part1 {
    position: relative;

    overflow: hidden;
}
.bg-wrap {
    width: 100%;
}
.bg-wrap img {
    width: 100%;
}
.part1 .content {
    position: absolute;
    top: 1.262rem;
    left: 0;

    width: 100%;
}
.title-wrap {
    width: 100%;

    text-align: center;
}
.title-wrap .title {
    font-size: 1rem;
    line-height: .768rem;

    letter-spacing: .102rem;

    color: #333;
}
.title-wrap .title-chl {
    margin-top: .46rem;
    margin-left: -.7rem;

    font-size: .384rem;
    line-height: .768rem;

    color: #666;
}
.part1 .con-detail {
    position: relative;
    top: 1.1rem;

    padding-left: .98rem;
    box-sizing: border-box;
}
.con-1 {
    position: relative;
}
.con-1 .left-pic {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 7.552rem;
    height: 6.165rem;
}
.con-1 .left-pic img {
    width: 100%;
    height: 100%;
}
.con-1 .right-txt {
    position: absolute;
    top: 1.045rem;
    right: .3rem;
    z-index: 1;

    width: 8.171rem;
    height: 6.101rem;

    font-size: .448rem;
    line-height: .668rem;

    text-align: justify;
    letter-spacing: .026rem;

    color: #333;
    background-color: #fff;
}
.con-1 .right-txt .txt {
    width: 5.888rem;
    height: 3.584rem;
    margin-top: 1.259rem;
    margin-left: 1.664rem;
}
.part1 .con-2 {
    position: relative;
    top: 8.85rem;
}
.part1 .con-2 .pic-item {
    position: relative;

    float: left;
    width: 7.168rem;
    height: 5.973rem;
    margin-right: .171rem;
    margin-bottom: .981rem;
}
.part1 .con-2 .pic-item:nth-child(2n) {
    margin-right: 0;
}
.part1 .con-2 .pic-item img {
    width: 100%;
    height: 100%;
}
.part1 .pic-item .mask {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    text-align: center;

    background-color: rgba(106,27,154,.45);
}
.part1 .mask .title {
    margin-top: .896rem;

    font-size: .64rem;
    line-height: .768rem;

    letter-spacing: .032rem;

    color: #fff;
}
.part1 .mask .con-txt {
    width: 5.33rem;
    margin: 0 auto;

    font-size: .426rem;
    line-height: .64rem;

    color: #fff;
}
.part1 .mask .line {
    width: 4.352rem;
    height: .0426rem;
    margin: 0 auto;
    margin-top: .213rem;
    margin-bottom: .576rem;
}
.part1 .mask .line img {
    width: 100%;
    width: 100%;
}
.part1 .mask .title-1 {
    margin-top: .65rem;
}
.btn-wrap {
    position: absolute;
    bottom: 1.899rem;
    left: 50%;

    width: 5.419rem;
    height: 1.28rem;
    margin-left: -2.45rem;

    background: url("//pc.hoozonspa.com/static/zt/img/seji/btn.png") no-repeat;
    background-size: 99% 100%;
}
.btn-wrap a {
    width: 100%;
    height: 100%;
}
.part1 .bg-e {
    position: absolute;
    top: 4.1rem;
    right: 0;

    width: 5.504rem;
    height: 1.259rem;
}
.part1 .bg-e img {
    width: 100%;
    height: 100%;
}
/*part1结束*/

/*part2开始*/
.part2 {
    position: relative;

    background: #6a1b9a;
}
.modifier {
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 10;

    width: 3.499rem;
    height: 2.944rem;
}
.modifier img {
    width: 100%;
    height: 100%;
}
.part2 .bg-wrap {
    width: 100%;
}
.part2 .bg-wrap img {
    width: 100%;
}
.part2 .content {
    position: relative;
    z-index: 2;

    width: 15.36rem;
    height: 18.56rem;

    background-color: #fbf6f3;
}
.title-wrap .title p:nth-child(1) {
    margin-bottom: .4rem;
}
.title-wrap-1 {
    padding-top: 1.5rem;
}
.title-wrap-1 .title-chl {
    width: 5.568rem;
    height: .363rem;
    margin: 0 auto;
    margin-top: .46rem;
}
.title-wrap .title-chl img {
    width: 100%;
    height: 100%;
}
.part2 .pic-con {
    position: absolute;
    right: 0;

    height: 8.149rem;
    margin-top: 1.216rem;
}
.part2 .pic-con .mid {
    margin-right: .128rem;
    margin-left: .128rem;
}
.part2 .pic-con > div {
    float: left;
    width: 5.013rem;
    height: 100%;
}
.part2 .pic-con .left > div,
.part2 .pic-con .right > div {
    width: 100%;
    height: 4.011rem;
}
.part2 .pic-con > div img {
    width: 100%;
    height: 100%;
}
.part2 .pic-con .left .top,
.part2 .pic-con .right .top {
    margin-bottom: .128rem;
}
.part2 .pic-con .item {
    position: relative;
}
.part2 .item .bot-bar {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1.067rem;

    font-size: .597rem;
    line-height: 1.167rem;

    text-align: center;

    color: #fff;
    background-color: rgba(106,27,154,.7);
}
.btn-wrap-1 {
    background: url("//pc.hoozonspa.com/static/zt/img/seji/btn-1.png") no-repeat;
    background-size: 100%;
}

/*part2结束*/

/*part3 开始*/
.part3 {
    position: relative;
    z-index: 1;

    margin-top: -1.71rem;
    overflow: hidden;
}
.modifier-1 {
    position: absolute;
    bottom: -1.7rem;
    left: 0;
    z-index: 10;

    width: 2.219rem;
    height: 2.965rem;
}
.modifier-1 img {
    width: 100%;
    height: 100%;
}
.part3 .content {
    position: absolute;
    top: 1.71rem;

    width: 100%;
}
.title-wrap-2 {
    padding-top: 1.835rem;
}
.title-wrap-2 .title-chl {
    width: 6.443rem;
    height: .23rem;
    margin: 0 auto;
    margin-top: .491rem;
}
.part3 .pic-wrap {
    position: absolute;
    top: 5.348rem;
    right: 0;

    width: 15.36rem;
    height: 10.603rem;
}
.part3 .pic-wrap img {
    width: 100%;
    height: 100%;
}
.part3 .pic-wrap .pic-content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    text-align: center;

    color: #fff;
    background-color: rgba(106,27,154,.74);
}
.part3 .pic-content .title {
    margin-top: 1.28rem;

    font-size: .768rem;
    line-height: .768rem;
}
.part3 .pic-content .e-title {
    margin-top: .32rem;
    margin-bottom: 1.131rem;

    font-size: .341rem;

    color: #e3e3e3;
}
.part3 .pic-content .txt {
    width: 12.821rem;
    margin: 0 auto;

    font-size: .512rem;
    line-height: .768rem;
}
.part3 .pic-content .txt span {
    color: #f855b9;
}
.btn-wrap-3 {
    bottom: 1.4rem;

    margin-left: -3rem;

    background: url("//pc.hoozonspa.com/static/zt/img/seji/btn-2.png") no-repeat;
    background-size: 100%;
}
.bg-wrp {
    width: 100%;
}
.bg-wrp img {
    width: 100%;
}
.part3 .con-detail {
    position: absolute;
    top: 17.1rem;

    width: 100%;

    text-align: center;
}
.part3 .con-detail .title-wrapper {
    margin-top: .8rem;
}
.part3 .title-wrapper .title,
.part4 .title-wrapper .title {
    font-size: .768rem;
    line-height: .768rem;

    color: #333;
}
.part3 .title-wrapper .e-title,
.part4 .title-wrapper .e-title {
    font-size: .341rem;
    line-height: .768rem;

    color: #666;
}
.part3 .con-1 .right-txt {
    top: -.981rem;
    right: 1.13rem;

    font-size: .512rem;
    line-height: .768rem;

    text-align: center;

    color: #333;
}
.part3 .con-1 .txt span {
    color: #6a1b9a;
}
.part3 .con-1 {
    top: 2.3rem;
    left: .98rem;
}
.part3 .con-1 .txt-detail {
    width: 5rem;
}
/*part3 结束*/


/*part4开始*/
.part4 {
    position: relative;

    padding-top: 1.664rem;
    padding-bottom: 4.331rem;
}
.part4 .title-wrapper {
    text-align: center;
}
.part4 .con {
    margin-top: 1.152rem;
}
.part4 .con .item {
    float: left;
    width: 5.653rem;
    height: 2.923rem;
    margin-bottom: .106rem;
    margin-left: -.56rem;
}
.part4 .con .item:nth-child(1) {
    margin-left: .0853rem;
}
.part4 .con .item:nth-child(4) {
    margin-left: .0853rem;
}
.part4 .con .item img {
    width: 100%;
    height: 100%;
}
.btn-wrap-4 {
    background: url("//pc.hoozonspa.com/static/zt/img/seji/btn-3.jpg") no-repeat;
    background-size: 99% 100%;
}
.modifier-3 {
    position: absolute;
    right: 0;
    bottom: -2rem;

    width: 2.091rem;
    height: 3.989rem;
}
.modifier-3 img {
    width: 100%;
    height: 100%;
}
.modifir-4 {
    position: absolute;
    top: -2.7rem;
    left: 50%;
    z-index: 10;

    width: 6.421rem;
    height: 4.032rem;
    margin-left: -3.215rem;
}
.modifir-4 img {
    width: 100%;
    height: 100%;
}
/*part4结束*/


/*part5开始*/
.part5 {
    position: relative;
}
.part5 .title-wrapper {
    position: relative;
    top: 1.493rem;
    z-index: 2;

    text-align: center;

    color: #fff;
}
.part5 .title-wrapper .title {
    margin-bottom: .32rem;

    font-size: 1.024rem;
    line-height: .768rem;
}
.part5 .title-wrapper .e-title {
    font-size: .384rem;
    line-height: .64rem;
}


/*swiper样式开始*/
.swiper {
    position: absolute;
    top: 0;
    left: 0;

    padding-bottom: 2rem;
}

.swiper .img-wrap {
    z-index: -1;

    width: 100%;
    height: 15.083rem;
}
.swiper .item {
    position: absolute;
    top: 4.267rem;

    width: 13.824rem;
    margin-left: 1.088rem;
}
.swiper .item img {
    width: 100%;
}
.bullet {
    position: absolute;
    bottom: .4rem;

    width: 100%;

    text-align: center;
}
.bullet .bullet-item {
    display: inline-block;
    width: .192rem;
    height: .192rem;

    vertical-align: middle;

    background: url(//pc.hoozonspa.com/static/zt/img/seji/circle.png) no-repeat;
    background-size: 100% 100%;
}
.bullet .bullet-item:nth-child(2) {
    margin-right: .2rem;
    margin-left: .2rem;
}
.bullet .active {
    width: .384rem;
    height: .384rem;

    background: url(//pc.hoozonspa.com/static/zt/img/seji/circle-active.png) no-repeat;
    background-size: 100%;
}
.swiper-slide {
    width: 100% !important;
}
/*swiper样式结束*/



/*part5结束*/
