/*banner开始*/
.swiper .w {
    margin: 0 auto;
}
.w {
    width: 12rem;
}
a {
    display: inline-block;
}
.banner {
    position: relative;

    width: 100%;
}
.banner img {
    width: 100%;
}
.btn-wrap-1 {
    position: absolute;
    top: 7.5rem;
    left: 5.12rem;
    z-index: 100;

    width: 2.3rem;
    height: 1.37rem;

    background: url("//pc.hoozonspa.com/static/zt/img/sejl/btn-1.png") no-repeat;
    background-size: 100%;
}
.btn-wrap-2 {
    left: 50%;

    margin-top: 1.6rem;
    margin-left: -1.15rem;
}
.btn-wrap-1 a {
    display: block;
    width: 100%;
    height: 55%;
}
#banner .footer-detail {
    position: relative;
    top: -2.9rem;
    left: -3.5rem;
}
#banner .shadow {
    bottom: .23rem;
}
/*banner结束*/

/*part1开始*/
.part1 {
    position: relative;

    width: 17.7rem;
    padding-bottom: 2.6rem;

    background: #fff;
}
.modifier {
    position: absolute;
    top: -8rem;
    right: -17px;
    z-index: 100;

    width: 1.99rem;
    height: 4.66rem;
}
.modifier img {
    width: 100%;
    height: 100%;
}
.title-wrap {
    width: 100%;
    padding-top: 1rem;

    text-align: center;
}
.title-wrap .title {
    margin-bottom: .24rem;

    font-size: .6rem;
    line-height: .36rem;

    letter-spacing: .06rem;

    color: #333;
}
.title-wrap .e-title {
    font-size: .24rem;
    line-height: .36rem;

    letter-spacing: 0rem;

    color: #666;
}
.part1 .content {
    margin-top: 1.2rem;
}
.part1 .content .left {
    float: left;
    width: 5.76rem;
}
.part1 .left .left-txt {
    float: right;
    width: 4.02rem;
    margin-top: 1.77rem;

    font-size: .24rem;
    line-height: .36rem;

    text-align: center;

    color: #333;
}
.part1 .content .mid {
    position: relative;

    float: left;
    width: 7.39rem;
}
.part1 .content .swiper {
    position: relative;
}
.part1 .mid .img-wrap {
    width: 5.16rem;
    height: 5.17rem;
    margin-left: .47rem;
}
.part1 .mid .img-wrap img {
    width: 100%;
    height: 100%;
}
.part1 .btn-gro {
    position: absolute;
    top: 1.2rem;
    right: -4.57rem;
    left: initial;
    z-index: 100;
}
.part1 .btn-wrap .item {
    width: 1.85rem;
    height: .53rem;
    margin-bottom: .2rem;

    font-size: .28rem;
    line-height: .53rem;

    cursor: pointer;
    text-align: center;
    letter-spacing: .014rem;

    color: #6a1b9a;
    border: solid 1px #6a1b9a;
    border-radius: .265rem;
    background-color: #fff;
}
.part1 .btn-wrap .item-1 {
    margin-left: .29rem;
}
.part1 .btn-wrap .item-2 {
    margin-left: .29rem;
}
.part1 .btn-wrap .active {
    color: #fff;
    background-color: #6a1b9a;
}
.part1 .content .right {
    float: left;
    width: 3.7rem;
}
.part1 .right .right-txt {
    float: left;
    margin-top: 1.77rem;

    font-size: .24rem;
    line-height: .36rem;

    text-align: center;
    letter-spacing: 0rem;

    color: #333;
}
.part1 .bot {
    position: relative;

    width: 100%;
}
.part1 .bot .bot-pic {
    width: 100%;
}
.part1 .bot-pic img {
    width: 100%;
}
#part2 .btn-1 {
    bottom: .9rem;
}
.shadow {
    position: absolute;
    bottom: .13rem;
    left: 50%;

    width: 1.68rem;
    height: .32rem;
    margin-left: -.84rem;
}
.shadow img {
    width: 100%;
}
#part1 .btn-1 {
    bottom: 1.7rem;
}
#part1 .shadow {
    bottom: .9rem;
}
/*part1结束*/

/*part2 开始*/
.part2 {
    position: relative;
}
.part2 .bg-wrap {
    width: 100%;
}
.part2 .bg-wrap img {
    width: 100%;
}
.part2 .content {
    position: absolute;
    top: 3.76rem;
    left: 0;

    width: 100%;
}
.title-wrap-1 {
    padding-top: 1.52rem;
}
.part2 .pic-panel {
    width: 12.96rem;
    padding-top: .65rem;
    margin: 0 auto;
}
.part2 .pic-panel .item {
    float: left;
    width: 4.22rem;
}
.part2 .item .pic-item {
    position: relative;

    width: 4.22rem;
    height: 3.25rem;
    margin-bottom: .15rem;
}
.part2 .item .pic-active {
    top: -.02rem;

    background-color: #6a1b9a;
    box-shadow: 0rem .12rem .21rem 0rem
    rgba(56, 14, 82, .31);
}
.part2 .mid {
    margin-right: .15rem;
    margin-left: .15rem;
}
.part2 .item .pic-item-1 {
    position: relative;

    width: 4.22rem;
    height: 6.65rem;
}
.part2 .item .pic-item img,
.part2 .item .pic-item-1 img {
    width: 100%;
    height: 100%;
}
.part2 .item .pic-item .txt,
.part2 .item .pic-item-1 .txt {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: .6rem;

    font-size: .26rem;
    line-height: .6rem;

    text-align: center;

    color: #fff;
    background: rgba(106,27,154,.51);
}
.part2 .item .active {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 0;

    text-align: center;

    opacity: 0;
    background: rgba(106,27,154,.51);
}
.part2 .active .title {
    margin-top: .1rem;

    font-size: .3rem;

    color: #fff;
}
.part2 .active .line {
    width: 2.58rem;
    height: .02rem;
    margin: 0 auto;
    margin-top: .13rem;
    margin-bottom: .13rem;
}
.part2 .pic-item .active {
    padding-bottom: .5rem;
}
.part2 .pic-item-2 .active {
    padding-bottom: .3rem;
}
.part2 .active .detail-txt {
    width: 3.06rem;
    margin: 0 auto;

    font-size: .18rem;

    color: #fff;
}
.part2 .active .detail-txt p {
    position: relative;
    left: -.56rem;

    width: 4.22rem;

    text-align: center;
}
/*part2 结束*/

/*part3开始*/
#part3 .btn-1 {
    bottom: .8rem;
}
.part3 {
    position: relative;
}
.part3 .bg-wrap {
    width: 100%;
}
.part3 .bg-wrap img {
    width: 100%;
}
.part3 .content {
    position: absolute;
    top: 0;
    right: 0;

    width: 17.39rem;
    height: 1000px;

    text-align: center;
}
.title-wrap-2 {
    padding-top: 1.2rem;
}
.part3 .content .con-detail,
.part3 .content-detail-1 {
    position: relative;
    top: .9rem;
    left: 1.77rem;

    width: 14.2rem;
}
.part3 .con-detail .left {
    position: absolute;
    top: .53rem;
    left: 0;
    z-index: 1;

    width: 7.5rem;
    height: 5.03rem;

    text-align: center;

    border: solid 1px rgba(106,27,154, .34);
    background-color: #fff;
}
/*第二个开始*/
.part3 .content-detail-1 {
    top: 7.6rem;
}

.part3 .content-detail-1 .left {
    position: absolute;
    left: 0;
    z-index: 2;

    width: 7.36rem;

    box-shadow: 0rem .05rem .13rem 0rem
    rgba(56, 14, 82, .19);
}
.part3 .content-detail-1 .left img {
    width: 100%;
}
.part3 .content-detail-1 .right {
    position: absolute;
    top: -.53rem;
    right: 0;
    z-index: 1;

    width: 7.5rem;
    height: 4.46rem;

    text-align: center;

    border: solid 1px rgba(106,27,154, .34);
    background-color: #fff;
}
.part3 .right .right-detail {
    width: 6rem;
    margin-top: .5rem;
    margin-left: 1.07rem;
}
.part3 .right-detail .title {
    margin-bottom: .08rem;

    font-size: .36rem;

    color: #333;
}
.part3 .right-detail .e-title {
    margin-bottom: .5rem;

    font-size: .16rem;

    color: #666;
}
.part3 .right-detail .txt-detail {
    font-size: .24rem;
    line-height: .36rem;

    color: #333;
}
.part3 .right-detail .txt-detail span {
    font-size: .3rem;

    color: #6a1b9a;
}
/*第二个结束*/
.part3 .left .left-detail {
    width: 6rem;
    margin-top: .5rem;
    margin-left: .35rem;
}
.part3 .left-detail .title {
    margin-bottom: .08rem;

    font-size: .36rem;

    color: #333;
}
.part3 .left-detail .e-title {
    margin-bottom: .5rem;

    font-size: .16rem;

    color: #666;
}
.part3 .left-detail .txt-detail {
    font-size: .24rem;
    line-height: .36rem;

    color: #333;
}
.part3 .left-detail .txt-detail span {
    color: #6a1b9a;
}
.part3 .con-detail .right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    width: 7.64rem;

    box-shadow: 0rem .05rem .13rem 0rem
    rgba(56, 14, 82, .19);
}
.part3 .con-detail .right img {
    width: 100%;
}
.btn-wrap-3 {
    margin-top: -3.87rem;
}
.part3 .content-child {
    position: relative;
    top: 12.28rem;

    padding-bottom: 1.96rem;
}
.part3 .content-child .pic-panel {
    margin-top: .7rem;
    margin-left: 1.46rem;
}
.part3 .pic-panel .pic-item {
    float: left;
    width: 5.12rem;
    height: 2.64rem;
    margin-bottom: .1rem;
    margin-left: -.5rem;
}
.part3 .pic-panel .pic-item:nth-child(1),
.part3 .pic-panel .pic-item:nth-child(4) {
    margin-left: 0;
}
.part3 .pic-panel .pic-item img {
    width: 100%;
}
.btn-wrap-4 {
    margin-top: -4.5rem;
}
.btn-wrap-5 {
    margin-top: 6.6rem;
}
.btn-wrap-6 {
    margin-top: 1.2rem;
}
.btn-wrap-7 {
    margin-top: 4.2rem;

    background: url("//pc.hoozonspa.com/static/zt/img/sejl/btn-2.png") no-repeat;
    background-size: 100%;
}
/*part3结束

/*part4开始*/
.part6 {
    position: relative;
}
.part6 .title-wrap {
    position: relative;
    z-index: 2;
}
.part6 .title-wrap .title {
    color: #fff;
}
.part6 .title-wrap .e-title {
    font-size: .2rem;

    color: #fff;
}
.swiper .bg-wrap {
    width: 100%;
    height: 13.14rem;

    background: url("//pc.hoozonspa.com/static/zt/img/sejl/swiper-1.jpg") no-repeat;
    background-size: 100% 100%;
}
.swiper .bg-wrap-1 {
    background: url("//pc.hoozonspa.com/static/zt/img/sejl/swiper-2.jpg") no-repeat;
    background-size: 100% 100%;
}
.swiper .bg-wrap-2 {
    background: url("//pc.hoozonspa.com/static/zt/img/sejl/swiper-3.jpg") no-repeat;
    background-size: 100% 100%;
}
.swiper-container {
    z-index: -1;
}
.swiper .bg-wrap .item {
    position: relative;
    top: 2.59rem;
}
/*.btn-wrap-5 {
    width: 2.30rem;
    height: .6rem;
    position: absolute;
    left: 50%;
    z-index: 3;
    margin-left: -1.15rem;
    background: url('//pc.hoozonspa.com/static/zt/img/sejl/part4-btn.png') no-repeat;
    background-size: 100% 100%;
    bottom: 0.26rem;
}*/
/*.btn-wrap-5 a {
    width: 100%;
    height: 100%;
}
.btn-wrap-5:hover {
    background: url('//pc.hoozonspa.com/static/zt/img/sejl/part4-btn-active.png') no-repeat;
    background-size: 100% 100%;
}*/
/*part4结束*/



/*swiper样式修改*/
.part6 .bullet-wrap {
    position: absolute;
    bottom: 1.28rem;
    left: 50%;
    z-index: 100;

    margin-left: -.47rem;
}
.part6 .title-wrap {
    z-index: 2;
}
.part6 .bullet-wrap .item {
    display: inline-block;
    width: .14rem;
    height: .14rem;
    margin-right: .20rem;

    cursor: pointer;
    vertical-align: middle;

    border: 1px solid #fff;
    border-radius: .14rem;
}
.part6 .bullet-wrap .item:nth-child(3) {
    margin-right: 0;
}
.part6 .bullet-wrap .active {
    border: .05rem solid rgba(255, 255, 255, .43);
}
.part6 .bullet-wrap .active i {
    display: block;
    width: .14rem;
    height: .14rem;

    border-radius: .14rem;
    background: #fff;
}
.swiper-container {
    z-index: auto;

    overflow: initial;
}
.part6 .swiper {
    height: 12.5rem;
    margin-top: -1.96rem;
}
#swiper-container-1 {
    height: 5.5rem;
    overflow: hidden;
}
#swiper-container-1 .swiper-pagination-custom {
    left: initial;
}
#part4 .btn-1 {
    bottom: .2rem;
}
#footer {
    padding-top: 77px;
}
/*swiper样式修改*/
.swiper .m {
    margin: auto;
}
