<!DOCTYPE html>
<html>

<head>
    <title>首页</title>
    <% include _meta.html%>
        <% include _link.html%>
</head>

<body>
    <div class="wrapper">
        <% include _header.html%>
            <% include _banner.html%>
                <!--zhangyanhong  -->
                <div class="g-container zhangyanhong">
                    <div class="title">
                        <h2><span class="sr-only">张艳红</span></h2>
                    </div>
                    <div class="content">
                        <div class="g-left">
                            <div class="wraper">
                                <h3>香港红瑞集团董事长</h3>
                                <ul>
                                    <li> 香港红瑞集团创始人</li>
                                    <li>海南省儿童福利会理事</li>
                                    <li>海口市十大杰出青年</li>
                                    <li>海南省“五一劳动奖章”获得者</li>
                                    <li>推动海南品牌建设60位功勋人物</li>
                                    <li>生活美容和医疗美容行业领军人物</li>
                                    <li>中西医结合学会医美专业顾问</li>
                                </ul>
                            </div>
                        </div>
                        <div class="g-right">
                            <img src="img/img9.jpg">
                        </div>
                    </div>
                </div>
                <!-- redup -->
                <div class="g-container redup">
                    <div class="title">
                        <h2><span class="sr-only">红妆美业</span></h2>
                    </div>
                    <div class="content">
                        <img src="img/img10.jpg">
                        <p> 始于一九九六年，是海南美容界的一面旗帜，也是数万名海岛 女性的信赖选择。二十多年来秉承着“用爱心托起美丽”的理念， 专注“智能美颜、科技瘦身、艺术纹绣、光电美肤、养生SPA”五 大核心品项，植根海南，辐射全岛，迅速发展成为遍布海口、琼海、儋州、三亚、陵水等五大城市，拥有23家机构的臻雅美业连锁。
                        </p>
                    </div>
                </div>
                <!-- brandproject -->
                <div class="g-container brandproject">
                    <div class="title">
                        <h2><span class="sr-only">品牌项目</span></h2>
                    </div>
                    <div class="content">
                        <div class="row">
                            {dede:arclist typeid='9' flag='c' row='3' titlelen="120" limit='0,3' addfields='title2' channelid='21' }
                            <div class="item">
                                <div class="front">
                                    <a href="[field:arcurl/]" title="[field:title/] ">
                                        <p>[field:title2/]</p>
                                        <h3>[field:title/]</h3>
                                    </a>
                                </div>
                                <div class="back">
                                    <img src="[field:picname/]">
                                </div>
                            </div>
                            {/dede:arclist}
                            
                        </div>
                    </div>
                    <div class="consult-wraper"><a href="" class="consult">查看更多</a></div>
                </div>
                <div class="g-container cultureconcert">
                    <div class="title">
                        <h2><span class="sr-only">文化理念</span></h2>
                    </div>
                    <div class="content">
                        <div class="g-left">
                            <p><span>愿景：</span>铸就健康美业百年企业</p>
                            <p><span>宗旨：</span> 一百年只做一件事，
                                <br>使更多的女性拥有健康 和美丽
                            </p>
                            <p><span>使命：</span>汇聚平凡力量
                                <br> 挺起美业脊梁
                            </p>
                            <p><span>定位：</span>海南美业旗舰品牌</p>
                            <p class="special"><span>服务理念：</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;热诚的心，
                                <br>温暖的笑，真挚的爱，
                                <br>深切的情
                            </p>
                        </div>
                        <div class="g-right">
                            <img src="img/img12.jpg">
                        </div>
                    </div>
                </div>
                <!-- developmenthistory -->
                <div class="g-container developmenthistory">
                    <div class="title">
                        <h2><span class="sr-only">品牌发展历程</span></h2>
                    </div>
                    <div class="content">
                        <div class="slider-wraper">
                            <img src="images/history1.jpg">
                            <img src="images/history2.jpg">
                            <img src="images/history1.jpg">
                            <img src="images/history2.jpg">
                        </div>
                    </div>
                </div>
                <!--award-->
                <div class="g-container award">
                    <div class="title">
                        <h2><span class="sr-only">屡获殊荣 实至名归</span></h2>
                    </div>
                    <div class="content">
                        <div class="slider-wraper">
                            <ul class="slider-container">
                                <li class="slider-item">
                                    <div class="row">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                    </div>
                                    <div class="row">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                    </div>
                                </li>
                                <li class="slider-item">
                                    <div class="row">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                    </div>
                                    <div class="row">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                    </div>
                                </li>
                                <li class="slider-item">
                                    <div class="row">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                    </div>
                                    <div class="row">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                    </div>
                                </li>
                                <li class="slider-item">
                                    <div class="row">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                    </div>
                                    <div class="row">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                        <img src="img/img13.jpg" alt="">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ol class="slider-indicator">
                            <li class="active">&nbsp;</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ol>
                    </div>
                </div>
                <!-- benefitactivities -->
                <div class="g-container benefitactivities">
                    <div class="title">
                        <h2><span class="sr-only"></span></h2>
                    </div>
                    <div class="content">
                        <div class="slider-wraper">
                            <ul class="slider-container">
                                {dede:arclist typeid='3' row='4' orderby='id' orderway='desc' infolen='30' }
                                <li class="slider-item"> <a href="[field:arcurl /]" title="[field:title/]"><img src="[field:picname /]" alt="[field:title/]"></a></li>
                                {/dede:arclist}
                            </ul>
                            <a href="javascript:void(0)" class="btn prev"></a>
                            <a href="javascript:void(0)" class="btn next"></a>
                        </div>
                        <ul class="news">
                            {dede:arclist typeid='3' row='4' orderby='id' orderway='desc' infolen='30' }
                            <li> <a href="[field:arcurl /]" title="[field:title/]">[field:title/]</a></li>
                            {/dede:arclist}
                        </ul>
                    </div>
                </div>
                {dede:include filename="_sj_copyright.htm"/} {dede:include filename="_footer.htm"/}
    </div>
    {dede:include filename="_script.htm"/}
</body>

</html>