
.swiper-container {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    /* width:3.3em!important;*/
    height: 3.3em;

    text-align: center;

    background: #fff;

    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.slider-wraper .swiper-slide .front {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*visibility: hidden;*/

    display: none;
    margin: auto;

    background-color: rgba(92, 55, 58, .8);
}
.swiper-containerMy .swiper-slide {
    position: relative;

    float: left;
    /*width: 3.3em!important;*/
    height: 3.3em;
    /*margin-left: .4em;*/
}
.slider-wraper .swiper-slide .back img {
    display: block;
    width: 100%;
    height: 100%;
}
.swiper-containerMy .front p {
    margin-top: .5em;

    font-size: .18em;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 0;

    color: #efefef;
}
.swiper-containerMy .front p a {
    color: #efefef;
}
.swiper-containerMy .front h3 {
    margin-top: 1em;

    font-size: .25em;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;

    text-align: center;
    letter-spacing: 0;

    color: #fff;
}
.swiper-containerMy  .back {
    width: 100%;
    height: 100%;
}
.swiper-containerMy .front img {
    display: block;
    width: 1.47em;
    height: 1.47em;
    margin: .3em auto 0;

    border-radius: 100%;
}
.classicCase .g-right {
    float: left!important;
}
.classicCase .g-right .slider-wraper {
    width: 10.6em;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 .15em;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff!important;
}
.swiper-pagination {
    top: 7.7em;
    left: 43%;
}
.swiper-pagination-bullet {
    width: .12em;
    height: .12em;

    outline: mediumaquamarine;
}
.cases-container .swiper-pagination {
    top: 6.7em;
    left: 43%;
}
.cases-container .classicCase .g-right .slider-wraper {
    width: 10.6em;
}
.cases-container .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 .15em;
}
.cases-container .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff!important;
}
.cases-container .swiper-pagination {
    top: 6.7em;
    left: 43%;
}
.cases-container .swiper-pagination-bullet {
    width: .12em;
    height: .12em;

    outline: mediumaquamarine;
}
.cases-container {
    position: relative;
}
.cases-container {
    position: relative;
}
.casesImgs .slider-container .g-right .caseSix_des {
    width: 25em;
    margin-top: 2.78em;
    margin-left: 2.3em;

    font-size: .18em;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    /* line-height: 2em; */

    text-align: justify;
    letter-spacing: 0;

    color: #dfd9e6;
}
.fullscreen .swiper-pagination {
    left: 30%!important;

    width: 3em!important;
    margin: auto!important;
    margin-left: -1.5em!important;
}
/*项目轮播图需要*/
.swiper-container_pro {
    width: 14em;
    height: 9.4em;
}
.hotproject .g-right .project-block .swiper-slide .item {
    position: relative;

    float: left;
    /*width: 33.33%;*/
    height: 4.7em;
    overflow: hidden;
}
.hotproject .g-right .project-block .swiper-slide .item .front {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;
    width: 90%;
    height: 90%;
    margin: auto;

    background-color: rgba(92, 55, 58, .6);
}
.hotproject .g-right .project-block .swiper-slide .item .front p {
    margin-top: 5em;

    font-size: 1.4em;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;

    text-align: center;
    letter-spacing: .8px;
    text-transform: uppercase;

    opacity: .8;
    color: #fff;
}
.hotproject .g-right .project-block .swiper-slide .item .front h3 {
    margin-top: .6em;

    font-size: 1.6em;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;

    text-align: center;
    letter-spacing: 0;

    color: #fff;
}
.hotproject .g-right .project-block .swiper-slide .item .front .line {
    width: .34em;
    height: 1px;
    margin: .26em auto 0;

    opacity: .5;
    background: #fff;
}
.hotproject .g-right .project-block .swiper-slide .item .back {
    width: 100%;
    height: 4.7em;
}
.hotproject .g-right .project-block .swiper-slide .item .back img {
    display: block;
    width: 100%;
    height: 100%;
}
.hotproject .g-right .project-block .swiper-slide .item:hover {
    cursor: pointer;
}
.hotproject .g-right .project-block .swiper-slide .item:hover .front {
    visibility: visible;
}
.hotproject .g-right .project-block .btn {
    position: absolute;

    display: block;
    width: .62em;
    height: 1.12em;
    margin: auto;
}
.hotproject .g-right .project-block .prev {
    top: 0;
    bottom: 0;
    left: -1px;

    background: url("../images/bg_prev.png") left center no-repeat;
    background-size: 100%;
}
.hotproject .g-right .project-block .next {
    top: 0;
    right: 0;
    bottom: 0;

    background: url("../images/bg_next.png") right center no-repeat;
    background-size: 100%;
}
.hotproject .g-right .project-block.active {
    z-index: 2;
}
.hotproject .g-right .project-block  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    height: 4.7em;

    font-size: 18px;

    text-align: center;

    background: #fff;

    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
}
/* 首页项目部分 */
.hotproject .g-right .project-block .swiper-slide {
    height: 50%!important;
}
.hotproject .g-right .project-block .swiper-slide .item {
    height: 100%!important;
}
.hotproject .g-right .project-block .swiper-slide .item .back {
    height: 100%!important;
}
.project-pagination .swiper-pagination-bullet {
    display: block;
    width: auto;
    height: auto;

    text-align: center;

    opacity: 1;
    border-radius: 1em;
    background: none;
}
.project-pagination .swiper-pagination-bullet-active {
    text-align: center;

    opacity: 1;
    color: #fff;
    background: #dfad9d!important;
}
.hotproject .g-left ul li {
    text-align: center;

    outline: medium;
}
.hotproject .g-right .project-block .swiper-slide .item .front .line {
    width: 1.52em;
    height: 1px;
    margin: .96em auto 0;

    opacity: .5;
    background: #fff;
}
.brandcenter .g-left p {
    width: 73%;
    /* width: 20em; */
}
.hotproject .g-right .prev {
    top: 0;
    bottom: 0;
    left: -1px;

    background: url(../images/bg_prev.png) left center no-repeat;
    background-size: 100%;
}
.hotproject .g-right  .btn {
    position: absolute;
    z-index: 1;

    display: block;
    width: .62em;
    height: 1.12em;
    margin: auto;

    outline: medium;
}
.hotproject .g-right  .next {
    top: 0;
    right: 0;
    bottom: 0;

    background: url(../images/bg_next.png) right center no-repeat;
    background-size: 100%;
}
.hotproject .g-right  .btn {
    position: absolute;

    display: block;
    width: .62em;
    height: 1.12em;
    margin: auto;
}
.adapt .g-left p {
    width: 26em;
}
.effect .g-left .more {
    position: relative;
    z-index: 100;
}
.environmentdisplay .g-right .prev,
.environmentdisplay .g-right .next {
    outline: medium;
}
.environmentdisplay {
    background-size: unset!important;
}
/* .fullscreen {
    left: 50%;

    width: 3em;
    margin-left: -1.5em;
} */
.hotproject .g-right .project-block .swiper-slide a {
    height: 100%;
}
