

/* ***reset*** */
a, body { color: #000; }
body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, html, input, label, li, p, textarea, ul { margin: 0; padding: 0; }
form { display: inline; }
img { border: 0; }
td { word-break: break-all; }
dd, dl, dt, li, ul { list-style: none; }
a { text-decoration: none; }

/* a:hover {
    color:black;
} */
body { background: #fff; font-family: "微软雅黑", sans-serif, Verdana, Arial; }
.f-fr { float: right; }
.f-fl { float: left; }
.f-cb:after { display: block; visibility: hidden; height: 0; overflow: hidden; clear: both; content: "."; }
.f-cb { zoom: 1; }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
@font-face { font-family: 'specialfont'; src: url('/statics/font/HYXiaoBoZheZhiTiJ.ttf') format('truetype'); }
.consult:hover { transform: scale(0.9, 0.9); }
.j-consult { cursor: pointer; }
.g-container { min-width: 15.99829352rem; }
.g-container .g-doc { width: 15.99829352rem; margin: 0 auto; }
.g-container .g-doc .g-title { margin-top: 2.1331058rem; }
.g-container .g-doc .g-title h2 { position: relative; font-family: 'specialfont'; font-size: 0.68259386rem; font-weight: normal; letter-spacing: 0rem; color: #805443; line-height: 0.85324232rem; padding-top: 0.27730375rem; padding-left: 1.36518771rem; }
.g-container .g-doc .g-title h2 span { font-size: 0.85324232rem; font-weight: normal; font-stretch: normal; line-height: 0.04266212rem; letter-spacing: 0rem; color: #f79181; }
.g-container .g-doc .g-content { margin-top: 0.42662116rem; }
.g-container .g-doc .consult { cursor: pointer; }
.banner { background: url('/statics/zt/mksx/images/banner.jpg') center top no-repeat; height: 21.75767918rem; background-size: auto 100%; }
.m1 .g-doc .g-title { margin-left: 0.42662116rem; background: url('/statics/zt/mksx/images/bgt1.jpg') left center no-repeat; height: 1.27986348rem; background-size: auto 100%; }
.m1 .g-doc .g-title h2 b { position: absolute; }
.m1 .g-doc .g-title h2 .leftq { top: 0.53327645rem; left: 2.00511945rem; }
.m1 .g-doc .g-title h2 .rightq { top: 0.53327645rem; left: 3.49829352rem; }
.m1 .g-doc .g-title h2 .o { position: relative; padding: 0 0.51194539rem; }
.m1 .g-doc .g-content h3 { font-size: 0.76791809rem; font-weight: normal; font-stretch: normal; line-height: 1.17320819rem; letter-spacing: 0rem; color: #f79181; margin-left: 0.21331058rem; }
.m1 .g-doc .g-content p { margin-left: 0.21331058rem; margin-top: 0.21331058rem; width: 15.14505119rem; font-size: 0.59726962rem; font-weight: normal; letter-spacing: 0rem; color: #805443; text-align: justify; letter-spacing: -0.04266212rem; }
.m1 .g-doc .g-content img { margin: 0.63993174rem 0 2.1331058rem; display: block; width: 100%; }
.m1 .m1_2 { background: url('/statics/zt/mksx/images/bg1.jpg') center top no-repeat; height: 19.45392491rem; background-size: auto 100%; }
.m1 .m1_2 .g-doc { position: relative; }
.m1 .m1_2 .g-doc .g-content { height: 16.63822526rem; text-align: center; }
.m1 .m1_2 .g-doc .g-content h3 { padding-top: 0.42662116rem; margin-top: 0; }
.m1 .m1_2 .g-doc .g-content p { margin-top: 0.42662116rem; text-align: center; }
.m1 .m1_2 .g-doc .consult { margin: 0 auto; display: block; background: url('/statics/zt/mksx/images/bg_consult1.png') center top no-repeat; height: 1.62116041rem; width: 5.75938567rem; background-size: auto 100%; }
.m2 .g-doc .g-title { margin-left: 0.42662116rem; background: url('/statics/zt/mksx/images/bgt2.jpg') left center no-repeat; height: 1.49317406rem; background-size: auto 100%; }
.m2 .g-doc .g-content { margin-top: 0.85324232rem; background: url('/statics/zt/mksx/images/bg2.jpg') center top no-repeat; height: 17.53412969rem; background-size: auto 100%; }
.m2 .g-doc .g-content .item { padding-top: 6.39931741rem; width: 6.18600683rem; height: 1.91979522rem;  /*display: inline-block; */ float: left; margin-bottom: 0.42662116rem; }
.m2 .g-doc .g-content .item p { font-size: 0.55460751rem; font-weight: normal; font-stretch: normal; line-height: 0.8105802rem; letter-spacing: 0rem; color: #805443; text-align: center; }
.m2 .g-doc .g-content .item1 { margin-left: 1.0665529rem; }
.m2 .g-doc .g-content .item2 { margin-left: 1.49317406rem; }
.m2 .g-doc .g-content .item3 { margin-left: 1.0665529rem; }
.m2 .g-doc .g-content .item4 { margin-left: 1.49317406rem; }
.m2 .g-doc .consult { margin: 0.85324232rem auto; display: block; background: url('/statics/zt/mksx/images/bg_consult2.jpg') center top no-repeat; height: 1.79180887rem; width: 8.02047782rem; background-size: auto 100%; }
.m3 { background: url('/statics/zt/mksx/images/bg3.png') center top no-repeat; height: 20.4778157rem; background-size: auto 100%; }
.m3 .g-doc { padding-top: 2.1331058rem; }
.m3 .g-doc .g-title { margin-left: 0.85324232rem; margin-top: 0; background: url('/statics/zt/mksx/images/bgt3.png') left center no-repeat; height: 1.25853242rem; background-size: auto 100%; }
.m3 .g-doc .g-content { margin-top: 2.04778157rem; }
.m3 .g-doc .g-content .item { width: 3.83959044rem; float: left; }
.m3 .g-doc .g-content .item h3 { font-size: 0.55460751rem; font-weight: normal; letter-spacing: 0rem; color: #673b1c; text-align: center; line-height: 0.68259386rem; margin: 0 auto; display: block; background: url('/statics/zt/mksx/images/bgt3_bg.png') center top no-repeat; height: 0.68259386rem; width: 2.94368601rem; background-size: auto 100%; }
.m3 .g-doc .g-content .item p { width: 2.98634812rem; margin: 0.21331058rem auto; font-size: 0.51194539rem; font-weight: normal; font-stretch: normal; line-height: 0.76791809rem; letter-spacing: 0rem; color: #673b1c; text-align: justify; }
.m3 .g-doc .g-content .item1 { margin-left: 0.51194539rem; }
.m3 .g-doc .g-content .item1, .m3 .g-doc .g-content .item3 { padding-top: 1.27986348rem; }
.m3 .g-doc .g-content .item2, .m3 .g-doc .g-content .item4 { padding-top: 3.15699659rem; }
.m3 .g-doc .g-content .item2 p, .m3 .g-doc .g-content .item4 p { width: 3.11433447rem; }
.m3 .g-doc .consult { margin: 1.27986348rem auto 0; display: block; background: url('/statics/zt/mksx/images/bg_consult3.png') center top no-repeat; height: 1.91979522rem; width: 7.38054608rem; background-size: auto 100%; }
.m4 { background: url('/statics/zt/mksx/images/bg4.jpg') center top no-repeat; height: 21.33105802rem; background-size: auto 100%; }
.m4 .g-doc { padding-top: 2.34641638rem; }
.m4 .g-doc .g-title { margin-top: 0; margin-left: 0.42662116rem; background: url('/statics/zt/mksx/images/bgt4.png') left center no-repeat; height: 1.27986348rem; background-size: auto 100%; }
.m4 .g-doc .g-content { margin-top: 1.27986348rem; height: 8.95904437rem; }
.m4 .g-doc .consult { margin: 0 auto; display: block; background: url('/statics/zt/mksx/images/bg_consult4.png') center top no-repeat; height: 2.55972696rem; width: 2.55972696rem; background-size: auto 100%; }
.m5 .g-doc .g-title { margin-left: 0.42662116rem; margin-top: 1.27986348rem; background: url('/statics/zt/mksx/images/bgt5.jpg') left center no-repeat; height: 1.27986348rem; background-size: auto 100%; }
.m5 .g-doc .g-content { margin-top: 1.70648464rem; }
.m5 .g-doc .g-content img { display: block; width: 15.35836177rem; margin: 0 auto; }
.m5 .g-doc .consult { margin: 0.85324232rem auto 2.1331058rem; display: block; background: url('/statics/zt/mksx/images/bg_consult5.jpg') center top no-repeat; height: 1.87713311rem; width: 6.01535836rem; background-size: auto 100%; }
.consult { position: relative; }
.rectele { display: block; width: 0.46928328rem; height: 0.46928328rem; background: url(/statics/zt/mksx/images/ring.png) center center no-repeat; background-size: 100%; position: absolute; top: 0; left: 0; }
@keyframes rect {
  0% { left: 0; top: 0; }
  40% { left: 5.41808874rem; top: 0; }
  50% { left: 5.41808874rem; top: 1.36518771rem; }
  90% { left: 0; top: 1.36518771rem; }
  100% { left: 0; top: 0; }
}
.rect { animation: rect  10s infinite linear; }
@keyframes rect2 {
  0% { left: 0; top: 0; }
  40% { left: 7.55119454rem; top: 0; }
  50% { left: 7.55119454rem; top: 1.36518771rem; }
  90% { left: 0; top: 1.36518771rem; }
  100% { left: 0; top: 0; }
}
.rect2 { animation: rect2  10s infinite linear; }
@keyframes rect3 {
  0% { left: 0; top: 0; }
  40% { left: 6.61262799rem; top: 0; }
  50% { left: 6.61262799rem; top: 1.36518771rem; }
  90% { left: 0; top: 1.36518771rem; }
  100% { left: 0; top: 0; }
}
.rect3 { animation: rect3  10s infinite linear; }
