@charset "utf-8";

.sr-only,
img {
    border: 0;
}

a,
body {
    color: #000;
}

body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
    padding: 0;
    margin: 0;
}

form {
    display: inline;
}

td {
    word-break: break-all;
}

dd,
dl,
dt,
li,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: #428bca;
}

.consult:hover {
    transform: scale(.9,.9);
}

.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -.025rem;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

.zt-container {
    width: 16rem;
    padding-top: 1.92rem;
    margin: 0 auto;
}

.zt-container img {
    display: block;
}

.zt-container .zt-title {
    margin-right: auto;
    margin-left: auto;
}

.zt-container .consult {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.banner {
    padding-top: 0;
}

.banner img {
    width: 100%;
}

.m1 {
    height: 22.57066667rem;

    background: url("/statics/zt/cbtm/images/bg1.jpg") center center no-repeat;
    background-size: cover;
}

.m1 .zt-title {
    width: 5.76rem;
    height: 2.90133333rem;

    background: url("/statics/zt/cbtm/images/bgt1.png") center center no-repeat;
    background-size: cover;
}

.m1 .zt-content {
    height: 11.73333333rem;
    margin-top: 2.432rem;
}

.m1 .zt-content .item {
    width: 8.49066667rem;
    height: 1.87733333rem;
    margin-top: .64rem;

    font-size: .46933333rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .64rem;

    letter-spacing: 1px;

    color: #684d3a;
}

.m1 .zt-content .item p {
    padding: .29866667rem .42666667rem 0 1.06666667rem;
}

.m1 .zt-content .item:first-child {
    margin-top: 0;
}

.m1 .zt-content .item1 {
    background: url("/statics/zt/cbtm/images/bg1_block1.png") center center no-repeat;
    background-size: 8.49066667rem 1.87733333rem;
}

.m1 .zt-content .item2 {
    background: url("/statics/zt/cbtm/images/bg1_block2.png") center center no-repeat;
    background-size: 8.49066667rem 1.87733333rem;
}

.m1 .zt-content .item2 p {
    padding-right: .64rem;
    padding-left: 1.49333333rem;
}

.m1 .zt-content .item3 {
    background: url("/statics/zt/cbtm/images/bg1_block3.png") center center no-repeat;
    background-size: 8.49066667rem 1.87733333rem;
}

.m1 .zt-content .item3 p {
    padding-top: .64rem;
    padding-left: 1.49333333rem;
}

.m1 .zt-content .item4 {
    background: url("/statics/zt/cbtm/images/bg1_block4.png") center center no-repeat;
    background-size: 8.49066667rem 1.87733333rem;
}

.m1 .zt-content .item5 {
    background: url("/statics/zt/cbtm/images/bg1_block5.png") center center no-repeat;
    background-size: 8.49066667rem 1.87733333rem;
}

.m1 .zt-content .item5 p {
    padding-right: 1.06666667rem;
    padding-left: 1.49333333rem;
}

.m1 .zt-content .item2,
.m1 .zt-content .item4 {
    margin-left: .42666667rem;
}

.m1 .consult {
    width: 7.296rem;
    height: 1.664rem;
    margin-top: 2.13333333rem;

    background: url("/statics/zt/cbtm/images/bg_consult1.png") center center no-repeat;
    background-size: cover;
}

.m2 {
    padding-bottom: 1.62133333rem;

    background: url("/statics/zt/cbtm/images/bg2.jpg") top center no-repeat #d5c2b5;
    background-size: 100% auto;
}

.m2 .zt-title {
    width: 7.50933333rem;
    height: 2.85866667rem;

    background: url("/statics/zt/cbtm/images/bgt2.png") center center no-repeat;
    background-size: cover;
}

.m2 .zt-content {
    margin-top: 1.06666667rem;
}

.m2 .zt-content .row {
    display: -ms-flexbox;
    display: flex;
    width: 15.232rem;
    margin: 0 auto;

    -ms-flex-pack: justify;
    justify-content: space-between;
}

.m2 .zt-content .row .item {
    position: relative;

    float: left;
    width: 7.424rem;
    height: 8.53333333rem;
    margin-bottom: .21333333rem;

    background-color: #efedee;
    box-shadow: -.08533333rem .128rem .27733333rem 0rem rgba(172,142,119,.75);
}

.m2 .zt-content .row .item img {
    display: block;
    width: 100%;
    height: 100%;
}

.m2 .zt-content .row .item p {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 2.005rem;

    line-height: .65rem;

    background-color: rgba(172,142,119,.75);
    /*width: 6.99733333rem;
	height: 1.28rem;
	padding: 0.42666667rem 0.21333333rem;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(172,142,119,0.75);
	font-size: 0.46933333rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.59733333rem;
	letter-spacing: 1px;
	color: #e7e0dd*/
}
.m2 .zt-content .row .item p i {
    position: absolute;
    top: 50%;
    left: .3rem;

    display: inline-block;
    width: 7.2rem;
    height: 1.152rem;
    margin-top: -.5526rem;

    font-size: .46933333rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;

    letter-spacing: 1px;

    color: #e7e0dd;
}
.m2 .zt-content .row .item p span {
    display: inline-block;
    margin-right: .192rem;

    font-size: .46933333rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .59733333rem;

    letter-spacing: 1px;

    opacity: 1;
    color: #f5eae3;
    border-radius: .29866667rem;
    background: #9d341a;
}

.m2 .consult {
    width: 7.296rem;
    height: 1.664rem;
    margin-top: 1.49333333rem;

    background: url("/statics/zt/cbtm/images/bg_consult2.png") center center no-repeat;
    background-size: cover;
}

.m3 {
    background: url(/statics/zt/cbtm/images/bg3.jpg) top center no-repeat #d5c2b5;
    background-size: 100% auto;
}

.m3 .zt-title {
    width: 9.55733333rem;
    height: 2.90133333rem;

    background: url("/statics/zt/cbtm/images/bgt3.png") center center no-repeat;
    background-size: cover;
}

.m3 .zt-content {
    margin-top: 1.06666667rem;
}

.m3 .zt-content .content1 {
    width: 16rem;
    height: 14.93333333rem;
    padding-top: 4.26666667rem;

    text-align: center;

    background: url("/statics/zt/cbtm/images/bg3_2.jpg") center center no-repeat;
    background-size: 16rem 19.2rem;
}

.m3 .zt-content .content1 h3 {
    font-size: .64rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .85333333rem;

    letter-spacing: .04266667rem;

    color: #684d3a;
}

.m3 .zt-content .content1 h3 span {
    display: inline-block;
    width: .10666667rem;
    height: .10666667rem;
    margin: 0 .21333333rem;

    vertical-align: middle;

    border-radius: 100%;
    background-color: #c64120;
}

.m3 .zt-content .content1 p {
    margin-top: .64rem;

    font-size: .42666667rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .64rem;

    letter-spacing: 1p;
}

.m3 .zt-content .content1 .row {
    padding-top: 9.38666667rem;
}

.m3 .zt-content .content1 .imgbox {
    position: relative;

    display: -ms-flexbox;
    display: flex;
    width: 14.29333333rem;
    height: 4.736rem;
    margin: 0 auto;

    -ms-flex-pack: justify;
    justify-content: space-between;
}

.m3 .zt-content .content1 .imgbox img {
    display: block;
    float: left;
    width: 6.912rem;
    height: 4.736rem;
}

.m3 .zt-content .content1 .imgbox span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    width: .81066667rem;
    height: .81066667rem;
    margin: auto;

    background: url("/statics/zt/cbtm/images/bg3_point.png") center center no-repeat;
    background-size: cover;
}

.m3 .zt-content .content2 {
    width: 16rem;
    height: 20.26666667rem;
    padding-top: 4.26666667rem;

    text-align: center;

    background: url("/statics/zt/cbtm/images/bg3_3.jpg") top center no-repeat;
    background-size: 16rem 24.53333333rem;
}

.m3 .zt-content .content2 h3 {
    font-size: .64rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .85333333rem;

    letter-spacing: .04266667rem;

    color: #684d3a;
}

.m3 .zt-content .content2 h3 span {
    display: inline-block;
    width: .10666667rem;
    height: .10666667rem;
    margin: 0 .21333333rem;

    vertical-align: middle;

    border-radius: 100%;
    background-color: #c64120;
}

.m3 .zt-content .content2 p {
    margin-top: .64rem;

    font-size: .42666667rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .64rem;

    letter-spacing: 1p;
}

.m3 .zt-content .content2 div {
    width: 4.26666667rem;
    height: 11.09333333rem;
    margin: 1.70666667rem 0 0 10.45333333rem;

    background: url("/statics/zt/cbtm/images/bg3_31.png") center center no-repeat;
    background-size: 4.26666667rem 11.09333333rem;
}

.m3 .zt-content .content2 div p {
    height: 3.008rem;
    padding: .14933333rem 0 0 1.49333333rem;
    margin-top: 0;

    font-size: .512rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .59733333rem;

    text-align: left;
    letter-spacing: 1px;

    color: #52351f;
}

.m3 .zt-content .content2 div .coustom {
    font-size: .53333333rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .59733333rem;

    letter-spacing: 1px;

    color: #c64120;
}

.m3 .zt-content .content2 div .coustom span {
    font-size: .42666667rem;
}

.m3 .zt-content .content3 {
    padding: .42666667rem .64rem;

    background: #b99e8b;
}

.m3 .zt-content .content3 img {
    display: block;
    width: 15.01866667rem;
    height: 6.61333333rem;
}

.m3 .consult {
    width: 6.656rem;
    height: 1.49333333rem;
    margin-top: 1.92rem;
    margin-left: 8.10666667rem;

    background: url("/statics/zt/cbtm/images/bg_consult3.png") center center no-repeat;
    background-size: cover;
}

.m4 {
    padding-bottom: 1.49333333rem;

    background: url("/statics/zt/cbtm/images/bg2.jpg") top center no-repeat #d5c2b5;
    background-size: 100% auto;
}

.m4 .zt-title {
    width: 7.25333333rem;
    height: 2.85866667rem;

    background: url("/statics/zt/cbtm/images/bgt4.png") center center no-repeat;
    background-size: cover;
}

.m4 .zt-content {
    margin-top: 1.36533333rem;
}
.m4 .zt-content .table-pic {
    width: 15.19rem;
    margin: 0 auto;
}
.m4 .zt-content .table-pic img {
    width: 100%;
}
.m4 .zt-content table {
    width: 15.57333333rem;
    margin: 0 auto;

    table-layout: fixed;
    border-collapse: collapse;

    background: #f2e4dc;
}

.m4 .zt-content table tr {
    height: 1.06666667rem;
}

.m4 .zt-content table tr:nth-child(even) {
    background: #f4ece9;
}

.m4 .zt-content table tr:nth-child(odd) {
    background: #ece3de;
}

.m4 .zt-content table th {
    font-size: .512rem;
    font-weight: bold;
    font-stretch: normal;
    line-height: .59733333rem;

    letter-spacing: 1px;

    color: #573925;
    border: solid 1px #573925;
    background: #f2e4dc;
}

.m4 .zt-content table td {
    font-size: .46933333rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .59733333rem;

    text-align: center;
    letter-spacing: 1px;

    color: #573925;
    border: solid 1px #573925;
}

.m4 .zt-content table td span {
    display: inline-block;
    width: .34133333rem;
    height: .34133333rem;

    vertical-align: middle;

    background: url("/statics/zt/cbtm/images/bg4_point.png") center center no-repeat;
    background-size: cover;
}

.m4 .zt-content table td:nth-child(1) {
    width: 5.97333333rem;
}

.m4 .zt-content table td:nth-child(2) {
    width: 3.62666667rem;

    color: #9d341a;
}

.m4 .zt-content table td:nth-child(3) {
    width: 5.97333333rem;
}

.m4 .consult {
    width: 7.296rem;
    height: 1.664rem;
    margin-top: 1.06666667rem;

    background: url("/statics/zt/cbtm/images/bg_consult1.png") center center no-repeat;
    background-size: cover;
}

.m5 {
    padding-bottom: 1.49333333rem;

    background: url(/statics/zt/cbtm/images/bg5.jpg) top center no-repeat #ece3de;
    background-size: 100% auto;
}

.m5 .zt-title {
    width: 7.168rem;
    height: 2.85866667rem;

    background: url("/statics/zt/cbtm/images/bgt5.png") center center no-repeat;
    background-size: cover;
}

.m5 .zt-content {
    height: 9.94133333rem;
    margin-top: 1.70666667rem;
}

.m5 .zt-content .row {
    display: -ms-flexbox;
    display: flex;
    margin-left: .21333333rem;
}

.m5 .zt-content .row img {
    float: left;
    width: 4.90666667rem;
    height: 3.62666667rem;
    margin-bottom: .21333333rem;
    margin-left: .21333333rem;

    border: solid 1px #e1d3c9;
    box-shadow: -.064rem .08533333rem .10666667rem 0rem rgba(213,194,181,.51);
}

.m5 .zt-content .row .consult {
    float: left;
    width: 5.16266667rem;
    height: 3.84rem;
    margin: 0;

    background: url("/statics/zt/cbtm/images/bg_consult5.png") center center no-repeat;
    background-size: cover;
}

.m6 {
    padding-bottom: 2.56rem;

    background: url(/statics/zt/cbtm/images/bg6_1.jpg) top center no-repeat #d5c2b5;
    background-size: 100% auto;
}

.m6 .zt-title {
    width: 7.04rem;
    height: 1.96266667rem;

    background: url("/statics/zt/cbtm/images/bgt6.png") center center no-repeat;
    background-size: cover;
}

.m6 .zt-content {
    margin-top: 1.792rem;
}

.m6 .zt-content img {
    display: block;
    width: 100%;
}

.m6 .zt-content .content1 {
    position: relative;
}

.m6 .zt-content .content1 p {
    position: absolute;
    top: 2.13333333rem;
    right: 1.28rem;

    width: 6.4rem;

    font-size: .46933333rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .704rem;

    letter-spacing: 1px;

    color: #f2e0ce;
}

.m6 .zt-content .content2 {
    padding-top: .85333333rem;

    background: url("/statics/zt/cbtm/images/bg6_2.jpg") top center no-repeat #d5c2b5;
    background-size: 100% auto;
}

.m6 .zt-content .content2 h3 {
    width: 4.69333333rem;
    height: 1.49333333rem;
    margin-left: 5.54666667rem;

    background: url("/statics/zt/cbtm/images/bgt6_1.png") center center no-repeat;
    background-size: cover;
}

.m6 .zt-content .content2 img {
    margin-top: .64rem;
}

.m6 .zt-content .content3 {
    padding-top: .64rem;

    background: url("/statics/zt/cbtm/images/bg6_3.jpg") top center no-repeat #d5c2b5;
    background-size: 100% auto;
}

.m6 .zt-content .content3 h3 {
    width: 5.41866667rem;
    height: 1.49333333rem;
    margin-bottom: .64rem;
    margin-left: 5.12rem;

    background: url("/statics/zt/cbtm/images/bgt6_2.png") center center no-repeat;
    background-size: cover;
}

.m6 .consult {
    width: 7.296rem;
    height: 1.664rem;
    margin-top: 2.13333333rem;

    background: url("/statics/zt/cbtm/images/bg_consult6.png") center center no-repeat;
    background-size: cover;
}
